/* Generics  */
img{
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

ul{
    gap: 10px;
    align-content: 10px;
}

li{
    flex-basis: calc(100%/3 - 10px);
    border: 1px solid gray;
    border-radius: 15px;
    box-shadow: 0 0 5px black;
    padding: 20px;
}